body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.logout-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logout-header {
    color: #333;
}
