body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
*{
  font-family: 'Prompt', sans-serif;
}

.button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: mediumspringgreen solid 0.15em;
  border-radius: 0.25em;
  color: mediumspringgreen;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.button p {
  z-index: 1;
}

.button:hover {
  color: #fdfdfd;
}

.button:active {
  border-color: teal;
}

.button::after, .button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: mediumspringgreen;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button::before {
  left: 0;
  transform: translateX(-8em);
}

.button::after {
  right: 0;
  transform: translateX(8em);
}

.button:hover:before {
  transform: translateX(-1em);
}

.button:hover:after {
  transform: translateX(1em);
}

.button:active:before,
.button:active:after {
  background: teal;
}

body {
  font-family: 'Prompt', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.6em 2em;
  width: 8em;
  height: 2em;
  border: rgb(250, 92, 0) solid 0.15em;
  border-radius: 0.25em;
  color: rgb(250, 92, 0);
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  margin: 0 10px;
}


.button::after,
.button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: rgb(250, 79, 0);
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}
.buttonclick {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}



.profile-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 1em;
  font-size: 25px;
  border: 2px solid #df2404;
}

.profile-container:hover {
  border-color: #ff9100; /* สีที่คุณต้องการให้เปลี่ยนเมื่อนำเมาส์ไป hover */
}